{% extends "base.html" %}
{% block content %}
    <div class="container header about-page">
        <div class="jumbotron bg-color row">
            <h1>About Us</h1>
            <div class="row">
                 <img class="col-md-6" src="{{ url_for ('static',
            filename='images/scientists.jpg')}}" class="img-rounded" alt="Scientists">
                <img class="col-md-6" src="{{ url_for ('static',
            filename='images/engineers.jpg')}}" class="img-rounded" alt="Engineers">
                <div class="col-xs-12">
                    <p>Our team is made up of some of the best and brightest scientists and engineers
                    from around the world. We work tirelessly to create a lasting solution to our problem.
                    We have been working since 2015 to develop the T.F.D. </p>
                    <p>Never before has this many people from all over the world joined together in the persuit
                    of a singular goal. Our hope and efforts are what will save this world from absolute chaos.
                    We are GS International!</p>
                </div>
            </div>
               
        </div>
    </div>
    <div class="container main-body team">
        <h2>Our Team Leaders</h2>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div class="container card">
                    <img src="{{ url_for ('static',
        filename='images/man1.png')}}" alt="Sid">
                    <h1>Sid Lenox</h1>
                    <p class="title">CEO & Founder, Team Leader</p>
                    <p>Head Engineer</p>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <p><button>Contact</button></p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div class="container card">
                    <img src="{{ url_for ('static',
        filename='images/man2.jpg')}}" alt="John" >
                    <h1>John Castle</h1>
                    <p class="title">Team Leader</p>
                    <p>Head of Research</p>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <p><button>Contact</button></p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div class="container card">
                    <img src="{{ url_for ('static',
        filename='images/woman1.jpg')}}" alt="Susan">
                    <h1>Susan Hill</h1>
                    <p class="title">Team Leader</p>
                    <p>Head of Applied Sciences</p>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <p><button>Contact</button></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}