{% extends "base.html" %}
{% block content %}
    <div class="container header">
        <div class="jumbotron bg-color">
            <h1>About Us</h1>
            <img src="images/snow_storm.jpg" class="img-rounded" style="height: 20em; width: 30em;" alt="Snow Storm">
            <img src="images/snow_storm.jpg" class="img-rounded" style="height: 20em; width: 30em;" alt="Snow Storm">
            <p>Our team is made up of some of the best and brightest scientists and engineers
            from around the world. We work tirelessly to create a lasting solution to our problem.
            We have been working since 2015 to develop the T.F.D. </p>
            <p>Never before has this many people from all over the world joined together in the persuit
            of a singular goal. Our hope and efforts are what will save this world from absolute chaos.
            We are GS International!</p>
        </div>
    </div>
    <div class="container main-body">
        <h2>Our Team Leaders</h2>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div class="container card">
                    <img src="img.jpg" alt="Sid" style="width:100%">
                    <h1>Sid Lenox</h1>
                    <p class="title">CEO & Founder, Team Leader</p>
                    <p>Head Engineer</p>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <p><button>Contact</button></p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div class="container card">
                    <img src="img.jpg" alt="John" style="width:100%">
                    <h1>John Castle</h1>
                    <p class="title">Team Leader</p>
                    <p>Head of Research</p>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <p><button>Contact</button></p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div class="container card">
                    <img src="img.jpg" alt="Susan" style="width:100%">
                    <h1>Susan Hill</h1>
                    <p class="title">Team Leader</p>
                    <p>Head of Applied Sciences</p>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <p><button>Contact</button></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}